VITE_SUPABASE_URL="https://awsdzxsbuqzoucrqsizd.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3c2R6eHNidXF6b3VjcnFzaXpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4NjgzNTcsImV4cCI6MjA5NjQ0NDM1N30.lGKOW6TTDXY9FJR4ISsPjpHUa96PMAG8ybWeEI_Kv4E"
